#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Movie-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.Movie-wrapper {

  width: 500px;
  background-color: antiquewhite;
  color: black;
  
}

.Movie-search {
  height: 30px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 350px;
}

.Movie-title {
  height: 60px;
  margin-top: 24px;
  font-weight: bold;
  font-size: 24px;
}

.Movie-date {
  font-style: italic;
  margin-top: 24px;
  font-size: 20px;
}

.Movie-rate {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: bold;
  color: red;
}